<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title><%= @blog.name %></title>
    <meta name="description" content="<%= @blog.description %>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/blog"><%= @blog.name %></a></h1>
        <p class="description"><%= @blog.description %></p>
      </div>
      <div id="content">
        <ul class="posts">
        <% @blog.published_posts.each do |post| %>
            <li>
              <span class="date">
                <%= Date:: MONTHNAMES[post.publication_time.mon] %>
                <%= post.publication_time.day %>,
                <%= post.publication_time.year %>
              </span>
              <h1><a href="/blog/<%= post.uri %>"><%= post.title %></a></h1>
              <div class="post-content">
                <%= post.content.split('</p>')[0] %></p>
                <%= post.content.split('</p>')[1] %></p>
              </div>
              <span class="read-it">
                <a href="/blog/<%= post.uri %>">Read it &raquo;</a>
              </span>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
